body {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  margin-top: 0;
  background: #FEB6BC;
  color: #555;
  font-size: 18px;
}

header {
  height: 350px;
}

#portfolio, #contact {
  background: #EEE;
}

#portfolio {
  height: 510px;
  text-align: center;
  padding-top: 10px;
}

#portfolio img {
  width: 90%;
}

#about {
  height: 360px;
  padding-top: 10px;
  text-align: center;
}

#contact {
  height: 160px;
  text-align: center;
}

#projects {
  height: 1000px;
  margin-top: -80px;
}

#skills {
  height: 460px;
  margin-top: -100px;
}

.full-width {
  width: 1200px;
  margin: 0 auto;
}

#projects .full-width {
  float: left;
  margin-bottom: 20px;
}

.half-width {
  width: 560px;
  float: left;
  padding: 0 20px;
  text-align: justify;
  line-height: 30px;
}

.third-width {
  width: 400px;
  float: left;
}

header h1 {
  font-family: 'Averia Libre', serif;
  font-size: 24px;
  color: #FE919C;
  padding: 10px 0 65px 25px;
}

h2 {
  font-family: 'Lora', serif;
  font-size: 36px;
}

header h2 {
  width: 1000px;
  clear: both;
  font-family: 'Lora', serif;
  font-size: 72px;
  line-height: 0px;
  color: #FD6372;
  padding: 20px 0 20px 25px;
}

header span {
  color: #377EB5;
}

h3 {
  font-family: 'Poppins', sans-serif;
}

h5 {
  font-family: 'Lora', serif;
  font-size: 21px;
  font-weight: 100;
  text-align: right;
  padding-right: 30px;
}

#about h5 {
  margin-top: 0px;
}

nav {
  float: right;
  padding: 10px 25px;
  font-family: 'Averia Libre', cursive;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  padding-left: 30px;
}

a {
  color: #C83745;
  text-decoration: none;
}

footer a {
  font-weight: bold;
}

a:hover {
  color: #659AC3;
}

#about img {
  width: 90%;
}

#projects img {
  width: 80%;
  padding-left: 20%;
}
